
 
      <div class="col-sm-12 text-left">
        <h1>Partes de la guitarra</h1>
        <img src="assets/images/partes-guitarra.png" alt="partes de guitarra">
        <img src="assets/images/partes-guitarra-ac.png" alt="partes de guitarra" style="height:392px;">

        <h1>Notas de la guitarra</h1>
        <p>Es importante saber navegar todo el mástil y ésto se puede lograr memorizando solamente
          las notas de la 5ta y 6ta cuerda. Después de memorizar estas notas se pueden hacer varios
          trucos para encontrar las demás notas de acuerdo a los <a href="scales.html">intervalos</a>
          encontrados en el mástil de la guitarra</p>

        <div class="container col-sm-12">
          <table class="table table-hover table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>Número de traste</th>
                <th>0</th> <th>1</th> <th>2</th> <th>3</th> <th>4</th> <th>5</th> <th>6</th>
                <th>7</th> <th>8</th> <th>9</th> <th>10</th> <th>11</th>  <th>12</th>
              </tr> 
            </thead>
            <tbody>
              <tr>
                <th>6ta cuerda</th>
                <td>E</td> <td>F</td> <td>F#</td> <td>G</td> <td>G#</td> <td>A</td> <td>A#</td>
                <td>B</td> <td>C</td> <td>C#</td> <td>D</td> <td>D#</td> <td>E</td>
              </tr>
              <tr>
                <th>5ta cuerda</th>
                <td>A</td> <td>A#</td> <td>B</td> <td>C</td> <td>C#</td> <td>D</td> <td>D#</td>
                <td>E</td> <td>F</td> <td>F#</td> <td>G</td> <td>G#</td> <td>A</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="container col-sm-12">
          <table class="table table-hover table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>Número de traste</th>
                <th>0</th> <th>1</th> <th>2</th> <th>3</th> <th>4</th> <th>5</th> <th>6</th>
                <th>7</th> <th>8</th> <th>9</th> <th>10</th> <th>11</th>  <th>12</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>6ta cuerda</th>
                <td>MI</td> <td>FA</td> <td>FA#</td> <td>SOL</td> <td>SOL#</td> <td>LA</td>
                <td>LA#</td> <td>SI</td> <td>DO</td> <td>DO#</td> <td>RE</td> <td>RE#</td>
                <td>MI</td>
              </tr>
              <tr>
                <th>5ta cuerda</th>
                <td>LA</td> <td>LA#</td> <td>SI</td> <td>DO</td> <td>DO#</td> <td>RE</td>
                <td>RE#</td> <td>MI</td> <td>FA</td> <td>FA#</td> <td>SOL</td> <td>SOL#</td>
                <td>LA</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>


