<table class="table" *ngIf="hayRegistros(); else sinarticulos">
  <thead class="thead-dark">
    <td>Codigo</td><td>Nombre</td><td>duración (minutos)</td><td>Profesor</td><td>costo</td><td>tipo</td><td>Borrar</td><td>Seleccionar</td>
  </thead>
  <tbody>

    <tr *ngFor="let cour of course">
      
      <td></td>
      <td>{{cour.cost}}</td>
      <td>{{cour.type}}</td>       
    </tr>
  </tbody>
  </table>

  <div class="row">
    <div *ngFor="let cour of course" class="col-4 card">
        <div class="card">
          <div class="card-header bg-dark">
            <h4 class="text-white">({{cour.id}}) {{cour.name}}: {{cour.length}} minutos</h4>
          </div>
          <div class="card-body bg-light">
              <h6 class="card-text"> Profesor: {{cour.prof}} </h6>
              <h6 class="card-text" > Costo: {{cour.cost}} </h6>
          </div>
        </div>
        
    </div>
  </div>
