
  <div  class="container-fluid text-center">
    <div class="row content">

      <div class="col-sm-2 sidenav">
        <div class="well">
          <p><a href="https://www.youtube.com/channel/UCBNkm8o5LiEVLxO8w0p2sfQ" target="_blank">
            <img src="assets/images/justin-guitar.jpg" alt="justin guitar" style="width:150px;height:100px;border:0;">
          </a></p>
        </div>
        <div class="well">
          <p><a href="https://veerkamponline.com/" target="_blank">
            <img src="assets/images/veerkamp.png" alt="veerkamp" style="width:150px;height:75px;border:0;">
          </a></p>
        </div>
        <div class="well">
          <p><a href="https://www.songsterr.com/" target="_blank">
            <img src="assets/images/songsterr.svg" alt="veerkamp" style="width:150px;height:75px;border:0;">
          </a></p>
        </div>
      </div>
<div class="col-sm-10 text-left">
  <h1>Bienvenido</h1>
  <p>Aquí encontraras un poco de información relacionada con teoria musical. 
    Esta información sera enfocada pricipalmente a la guitarra. Aunque no sepas
    tocarla, si tocas algun otro instrumento la teoría que encontraras aquí se 
    podras aplicarla a tu instrumento.
  </p>
  
</div>
