<div class="col-sm-10 text-left">
  <h1>Producto</h1>
  <div class="list-group">
    <form action=""></form>
    <a
    class="list-group-item list group-item-action"
    href="https://www.musictheory.net/"
    >musictheory.net, sitio sobre teoria musical general, es recomendable 
    tener un teclado para seguir las lecciones del sitio.
    </a>
    <a
    class="list-group-item list group-item-action"
    href="https://www.songsterr.com/"
    >songsterr, un sitio para encontrar tablatura de alguna canción para aprender.
    </a>
    <a
    class="list-group-item list group-item-action"
    href="https://theartoflutherie.com/"
    >Un sitio para aprender más sobre cómo crear y arreglar guitarras.
    </a>
    <a
    class="list-group-item list group-item-action"
    href="https://www.reddit.com/r/Guitar/"
    >r/guitar, Una subreddit o comunidad dedicada completamente a las guitarras.
    </a>
  </div>
</div>
